<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="height:90px">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-size: 40px">GaGaGaShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/item/clothes">의류</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/item/bag">가방</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/item/etc">잡화</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="'/members/' + ${loginDTO.id}" th:text="${loginDTO.name}"
                   style="color:maroon; font-size:20px">***</a>
                <span th:text="'님 환영합니다!'" style="color:white; font-size:20px"> ***님 환영합니다.</span>
                &nbsp;&nbsp;
                <form th:action="@{/logout}" method="post">
                    <button class="w-20 btn btn-secondary btn-sm">로그아웃</button>
                </form>
            </div>
        </div>
    </nav>
</div>