<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet" />
  <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

  <div class="py-5 text-center">
    <h2>회원 가입</h2>
  </div>

  <form action="item.html" th:action="@{/register}" th:object="${member}" method="post">
    <div>
      <label for="loginId">로그인 ID</label>
      <input type="text" id="loginId" th:field="*{loginId}"
             th:errorclass="field-error" class="form-control" placeholder="사용할 ID를 입력하세요.">
      <div class="field-error" th:errors="*{loginId}">
        ID 입력 오류
      </div>
    </div>
    <div>
      <label for="pw">비밀번호</label>
      <input type="text" id="pw" th:field="*{password}"
             th:errorclass="field-error" class="form-control" placeholder="사용할 비밀번호를 입력하세요.">
      <div class="field-error" th:errors="*{password}">
        비밀번호 오류
      </div>
    </div>
    <div>
      <label for="confirmPw">비밀번호 확인</label>
      <input type="text" id="confirmPw" th:field="*{confirmPassword}"
             th:errorclass="field-error" class="form-control" placeholder="비밀번호를 한 번 더 입력하세요.">
      <div class="field-error" th:errors="*{confirmPassword}">
        비밀번호 확인 오류
      </div>
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" th:field="*{name}"
             th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요">
      <div class="field-error" th:errors="*{name}">
        이름 오류
      </div>
    </div>
    <div>
      <label for="front">주민등록번호</label>
      <input type="text" id="front" th:field="*{frontSixSSR}"
             th:errorclass="field-error" class="form-control" placeholder="주민등록번호 앞">
      <a> - </a>
      <input type="text" id="end" th:field="*{endSevenSSR}"
             th:errorclass="field-error" class="form-control" placeholder="주민등록번호 뒤">
      <div class="field-error" th:errors="*{frontSixSSR}">
        수량 오류
      </div>
      <div class="field-error" th:errors="*{endSevenSSR}">
        수량 오류
      </div>
    </div>
    <div>
      <label for="homePhoneNumber">집 전화번호</label>
      <input type="text" id="homePhoneNumber" th:field="*{homePhoneNumber}"
             th:errorclass="field-error" class="form-control" placeholder="집 전화번호를 입력하세요">
      <div class="field-error" th:errors="*{homePhoneNumber}">
        번호 오류
      </div>
    </div>
    <div>
      <label for="cellphoneNumber">휴대폰 번호</label>
      <input type="text" id="cellphoneNumber" th:field="*{cellphoneNumber}"
             th:errorclass="field-error" class="form-control" placeholder="휴대폰 번호를 입력하세요">
      <div class="field-error" th:errors="*{cellphoneNumber}">
        수량 오류
      </div>
    </div>

    <hr class="my-4">

    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/login}'|" type="button">로그인하러 가기</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->
</body>
</html>